<!DOCTYPE html>
<html lang="ja">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8" />
    <title>Literacy 2021/03</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row class="text-center">
                        <v-col class="mb-4">
                            <h2 class="mb-3">
                                データの表示
                            </h2>
                        </v-col>

                        <v-col class="mb-5" cols="12">
                            <v-row justify="center">
                                <div>
                                    <v-text-field label="名前" :value="name" @change="name = $event"></v-text-field>
                                    <v-btn color="primary" elevation="2" v-on:click="click_search()">
                                        表示
                                    </v-btn>
                                </div>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="!processing && (name != null && name != '') && data.length <= 0">
                                <h2 class="mb-6">
                                    データがみつかりませんでした。
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="processing && (name != null && name != '') && data.length <= 0">
                                <h2 class="mb-6">
                                    データを検索しています...
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="name == '' || name == null">
                                <h2 class="mb-6">
                                    名前を入力してください。
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="data.length > 0">
                                <h2 class="mb-6">
                                    グラフ
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="data.length > 0">
                                <div style="width: 100%; max-width: 600px">
                                    <canvas id="myChart" ref="chart_cnv"></canvas>
                                </div>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="data.length > 0">
                                <h2 class="mb-6">
                                    データ
                                </h2>
                                <v-col class="mb-5" cols="12">
                                    <v-row justify="center">
                                        <v-data-table :headers="headers" :items="data" :items-per-page="20"
                                            class="elevation-1">
                                            <template v-slot:top>
                                            </template>
                                            <template v-slot:item.actions="{ item }">
                                                <v-icon small @click="deleteItem(item)">
                                                    mdi-delete
                                                </v-icon>
                                            </template>
                                        </v-data-table>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.3.1/es6-promise.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    processing: false,
                    name: '',
                    headers: [
                        {
                            text: '#',
                            align: 'start',
                            value: 'id',
                        },
                        {
                            text: '名前',
                            align: 'start',
                            value: 'name',
                        },
                        {
                            text: '送信日時',
                            align: 'start',
                            value: 'date',
                        },
                        {
                            text: '値',
                            align: 'start',
                            value: 'value',
                        }
                    ],
                    data: []
                }
            },
            created() {
                this.initialize();
            },
            updated() {
                this.display_graph();
            },
            methods: {
                initialize() {
                    const params = new URLSearchParams(window.location.search.substring(1));
                    this.name = params.get('name');
                    this.click_search();
                },
                getTime(date) {
                    return ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2)
                },
                display_graph() {
                    if (this.name == null) return;
                    if (this.name == "") return;
                    if (document.getElementById('myChart') == null) return;
                    const ctx = document.getElementById('myChart').getContext('2d');

                    const self = this;
                    const datas = {};
                    this.data.forEach(function(val) {
                        if(datas[val.name] == null) {
                            datas[val.name] = {
                                label: val.name,
                                data: [],
                                type: "line",
                                lineTension: 0
                            }
                        }

                        datas[val.name].data.unshift({
                            x: datas[val.name].data.length,
                            y: val.value,
                        })
                    })

                    console.log(datas);

                    /*this.data.forEach(function(val) {
                        if(datas[val.name] == null) {
                            datas[val.name] = {
                                label: val.name,
                                data: [],
                                type: "line",
                                lineTension: 0
                            };
                        }

                        datas[val.name].data.unshift({
                            x: self.getTime(new Date(val.date)),
                            y: val.value,
                        })
                    })*/

                    const datasets = [];
                    Object.keys(datas).forEach(function(k) {
                        datasets.push(datas[k]);
                    })
                    console.log(datasets);

                    /*const labels = [];
                    const data = [];
                    this.data.forEach(function(val) {
                        labels.unshift(self.getTime(new Date(val.date)));
                        data.unshift(val.value);
                    })*/

                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ['2018/01/01', '2018/01/02', '2018/01/03', '2018/01/04', '2018/01/05', '2018/01/06', '2018/01/07'],
                            datasets: [datasets]
                        }
                    });
                },
                click_search() {
                    if (this.name == null) return;
                    history.replaceState('', 'Literacy 2021/03', '/graph.html' + this.name ? '?name=' + this.name : '');
                    if (this.name == "") return;

                    this.processing = true;
                    this.data = [];
                    const self = this;
                    fetch('/api/list?target=all').then(function (res) {
                        res.json().then(function (jsn) {
                            console.log(jsn);
                            jsn.data.forEach(function (val) {
                                self.data.push({
                                    id: self.data.length + 1,
                                    name: val.name,
                                    value: val.value,
                                    date: new Date(val.created_at).toLocaleString()
                                })
                            })
                            self.processing = false;
                        });
                    })
                }
            }
        })
    </script>
</body>

</html>