<!DOCTYPE html>
<html lang="ja">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8" />
    <title>Literacy 2021/03</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row class="text-center">
                        <v-col class="mb-4">
                            <h2 class="mb-3">
                                データの表示
                            </h2>
                        </v-col>

                        <v-col class="mb-5" cols="12">
                            <v-row justify="center">
                                <div>
                                    <v-text-field label="名前" :value="name" @change="name = $event"></v-text-field>
                                    <v-btn color="primary" elevation="2" v-on:click="click_search()">
                                        表示
                                    </v-btn>
                                </div>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="name != '' && data.length <= 0">
                                <h2 class="mb-6">
                                    データがみつかりませんでした。
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="name == ''">
                                <h2 class="mb-6">
                                    名前を入力してください。
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="data.length > 0">
                                <h2 class="mb-6">
                                    グラフ
                                </h2>
                            </v-row>

                            <v-row justify="center" style="padding-top: 20px;" v-if="data.length > 0">
                                <h2 class="mb-6">
                                    データ
                                </h2>
                                <v-col class="mb-5" cols="12">
                                    <v-row justify="center">
                                        <v-data-table :headers="headers" :items="data" :items-per-page="20"
                                            class="elevation-1">
                                            <template v-slot:top>
                                            </template>
                                            <template v-slot:item.actions="{ item }">
                                                <v-icon small @click="deleteItem(item)">
                                                    mdi-delete
                                                </v-icon>
                                            </template>
                                        </v-data-table>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.3.1/es6-promise.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js" defer></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    name: '',
                    headers: [
                        {
                            text: '#',
                            align: 'start',
                            value: 'id',
                        },
                        {
                            text: '送信日時',
                            align: 'start',
                            value: 'date',
                        },
                        {
                            text: '値',
                            align: 'start',
                            value: 'value',
                        }
                    ],
                    data: []
                }
            },
            created() {
                this.initialize();
            },
            methods: {
                initialize() {
                    const params = new URLSearchParams(window.location.search.substring(1));
                    this.name = params.get('name');
                    this.click_search();
                },
                click_search() {
                    history.replaceState('', 'Literacy 2021/03', '/graph.html?name=' + this.name);
                    if (this.name == "") return;

                    this.data = [];
                    const self = this;
                    fetch('/api/list?name=' + this.name).then(function (res) {
                        res.json().then(function (jsn) {
                            jsn.data.forEach(function (val) {
                                self.data.push({
                                    id: self.data.length + 1,
                                    value: val.value,
                                    date: new Date(val.created_at).toLocaleString()
                                })
                            })
                        });
                    })
                }
            }
        })
    </script>
</body>

</html>