<!DOCTYPE html>
<html lang="ja">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <title>Literacy 2021/03</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row class="text-center">
                        <v-dialog v-model="dialog_connecting" persistent max-width="290">
                            <v-card>
                                <v-card-title class="headline">
                                    Connecting...
                                </v-card-title>
                                <v-card-text>サーバーへ接続中です...</v-card-text>
                            </v-card>
                        </v-dialog>

                        <v-dialog v-model="dialog_disconnected" persistent max-width="290">
                            <v-card>
                                <v-card-title class="headline">
                                    Disconnected
                                </v-card-title>
                                <v-card-text>サーバーとの通信が切断されました。</v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green darken-1" text @click="click_reload">
                                        再読み込み
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <v-dialog v-model="dialog_error" persistent max-width="290">
                            <v-card>
                                <v-card-title class="headline">
                                    Error
                                </v-card-title>
                                <v-card-text>サーバーへ接続できませんでした。</v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green darken-1" text @click="click_reload">
                                        再読み込み
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <v-col class="mb-5" cols="12">
                            <v-row justify="center">
                                <v-col v-for="(value, key) in users" :key="key" cols="3">
                                    <v-card color="#385F73" dark>
                                        <v-card-title class="headline">
                                            {{ key }} さん
                                        </v-card-title>

                                        <v-card-subtitle>
                                            {{ value.value }} ℃
                                        </v-card-subtitle>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                websocket: null,
                users: {},
                dialog_connecting: false,
                dialog_error: false,
                dialog_disconnected: false,
            },
            methods: {
                click_reload: function () {
                    location.reload();
                },
                handleMessage: function (data) {
                    if (data.name && data.value) {
                        this.$set(this.users, data.name, { name: data.name, value: data.value });
                    } else if (data.initialize) {
                        data.initialize.forEach((value) => {
                            this.$set(this.users, value.name, { name: value.name, value: value.value });
                        })
                    }
                }
            },

            //
            // 対応表
            //
            // isConnected, isConnecting, isDisconnected
            // 0            1             0               -> 接続中       (!isConnected && isConnecting && !isDisconnected)
            // 1            0             0               -> 接続済み     (isConnected && !isConnecting && !isDisconnected)
            // 0            0             1               -> 接続エラー   (!isConnected && !isConnecting && isDisconnected)
            // 1            0             1               -> 切断         (isConnected && !isConnecting && isDisconnected)
            //
            created: function () {
                this.websocket = new WebSocket('wss://' + location.hostname + '/api/ws');
                const webSocket = this.websocket;

                webSocket.onopen = ((e) => {
                    this.dialog_connecting = false;
                    this.dialog_disconnected = false;
                    this.dialog_error = false;
                });

                webSocket.onmessage = ((e) => {
                    if (e && e.data) {
                        this.handleMessage(JSON.parse(e.data));
                    }
                });

                webSocket.onerror = ((e) => {
                    this.dialog_connecting = false;
                    this.dialog_disconnected = false;
                    this.dialog_error = true;
                })

                webSocket.onclose = ((e) => {
                    if (!this.dialog_error) {
                        this.dialog_connecting = false;
                        this.dialog_disconnected = true;
                        this.dialog_error = false;
                    }
                })
            }
        })
    </script>
</body>

</html>